{% extends 'base.html' %}

{% block content %}
    <h1>Волейбольные корты "Sandy Courts"</h1>
    <h2>в команде чемпионов</h2>
    <br>
    <p>Отвлекись от повседневных забот и погрузись в мир
      волейбола на наших кортах. Здесь ты сможешь не только 
      насладиться игрой в кругу друзей, но и окунуться в атмосферу 
      спокойствия и радости. Присоединяйся к нам 
      и открывай новые грани удовольствия с каждой подачей! </p>
    <p>Уже долгое время наш спортивный комплекс является единственной в области крытой волейбольной ареной с натуральным морским песком. 
      Ежедневно здесь занимаются более тысячи человек, воспитанники муниципальных спортшкол, вузов региона, коммерческих организаций. 
      Каждый год мы проводим городские соревнования по волейболу, а также турниры областного и всероссийского уровня. </p>
    <p>Заботясь о физическом здоровье наших детей и молодежи, в 2019 году нашей компанией было принято решение открыть площадку на стадионе Самара Арена. 
      Новый комплекс оснащенный в соответствии с современными требованиями объект позволяет эффективнее осуществлять тренировочную деятельность.</p>

{% endblock %}