{% extends 'base.html' %}

{% block content %}

<h2>Тренеры</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
 
  {% for trainer in trainers %} 
  <div class="col"> 
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ trainer.last_name }}</h5>
      <p class="card-text">{{ trainer.first_name }}</p>
      <p class="card-text">Местоположение: {{ trainer.location }}</p>
      <a href="{{ trainer.get_absolute_url }}" class="btn btn-primary">О тренере</a>
    </div>
  </div>
</div>
  {% endfor %}  

</div>

{% endblock %}