{% extends 'base.html' %}

{% block content %}

<h2>Список броней</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
 
{% for reserve in reserves %} 
  <div class="col"> 
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Дата: {{ reserve.date_reserve }}</h5>
      <p class="card-text">Время: {{ reserve.time_reserve }}:00</p>
      <p class="card-text">Бронь от {{ reserve.user_id }}</p>
      <p class="card-text">Местоположение: {{ reserve.court_id.location.name }}</p>
      <p class="card-text">Корт №{{ reserve.court_id.court_number }}</p>
      <p class="card-text">на {{ reserve.quantity }} человек</p>
      {% if reserve.trainer_id %}
        <p class="card-text">Тренер: {{ reserve.trainer_id }}</p>
      {% else %}
        <p class="card-text">Тренер: Без тренера</p>
      {% endif %}
      
    </div>
  </div>
</div>
{% endfor %}  

</div>

{% endblock %}


{% block navigation %}
    <!-- Блок навигации по страницам -->
<br>

<nav aria-label="navigation">
<ul class="pagination">

{% if page_obj.has_previous %}
  <li class="page-item">
  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&laquo;</a>
  </li>
{% else %}
  <li class="page-item disabled">
  <a class="page-link" href="#"&laquo; aria-label="Previous">&laquo;</a>
  </li>
{% endif %}

{% for p in paginator.page_range %}
  {% if page_obj.number == p %}
    <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
  {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
	{% endif %}
{% endfor %}

{% if page_obj.has_next %}
  <li class="page-item">
  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Previous">&raquo;</a>
  </li>
{% else %}
  <li class="page-item disabled">
  <a class="page-link" href="#"&laquo; aria-label="Previous">&raquo;</a>
{% endif %}

</ul>
</nav>

{% endblock %}