{% extends 'base.html' %}

{% block content %}

<h2>Список броней</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
 
  {% for reserve in reserves %} 
  <div class="col"> 
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Бронь от {{ reserve.user_id }}</h5>
      <p class="card-text">Корт №{{ reserve.court_id }}</p>
      <p class="card-text">Дата: {{ reserve.date_reserve }}</p>
      <p class="card-text">Время: {{ reserve.time_reserve }}</p>
      <p class="card-text">на {{ reserve.quantity }} человек</p>
      <p class="card-text">Тренер: {{ reserve.trainer_id }}</p>
      
    </div>
  </div>
</div>
  {% endfor %}  

</div>


{% endblock %}