{% extends 'base.html' %}

{% load courts_tags %}

{% block content %}

<h2>Аренда</h2>

<!-- Фильтр местоположения -->
<p>Местоположение</p>
<ul class="list-group list-group-horizontal">
  {% if loc_selected == 0 %}
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Все</a>
  {% else %}
    <a href="{% url 'courts' %}" class="list-group-item list-group-item-action" aria-current="true">Все</a>
  {% endif %}
  
  {% show_location loc_selected %}

</ul>
<br>


<!-- Вывод списка кортов -->
<div class="row row-cols-1 row-cols-md-4 g-4">
 
  {% for court in courts %} 
  <div class="col"> 
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Корт №{{ court.court_number }}</h5>
      <p class="card-text">Местоположение: {{ court.location }}</p>
      <p class="card-text">Вместимость: {{ court.capacity }}</p>
      <a href="{{ court.get_absolute_url }}" class="btn btn-primary">Арендовать</a>
    </div>
  </div>
</div>
  {% endfor %}  

</div>

{% endblock %}